* {
    margin: 0px;
}

.main-img-dot {
    position: absolute;
    right: 220px;
    top: 220px;
}

.main-img-dot1 {
    position: absolute;
    left: 0px;
    top: 120px;
}

.nav-container {
    height: 45px;
    width: 100%;
    background-color: #871E27;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-gap {
    display: flex;
}

.nav-heading {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.nav-link {
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-left: 7px;
}

.nav-heading1 {
    color: white;
    margin-right: 10px;
}

.img {
    display: none;
}

.img1 {
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 60px;
    align-items: center;
}

.main-h1 {
    font-size: 22px;
    color: #9ca3af;
    font-weight: 300;
}

.main-h2 {
    font-size: 48px;
    color: #000000;
    font-weight: 300;
}

.main-p1 {
    width: 450px;
    font-size: 22px;
    color: #212121;
    line-height: 1.75rem;

}

.main-button {
    margin-top: 30px;
    width: 8rem;
    height: 48px;
    padding: 10px;
    border-radius: 4px;
    border: 0px #e5e7eb;
    background-color: #DFBA21;
    color: #1D1D1D;
}

.main-line {
    margin-top: 80px;
    border-bottom: 1px solid rgba(206, 195, 195, 0.541);
}

.main-div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.main-logo1 {
    width: 92.3px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo2 {
    width: 92.3px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo3 {
    width: 80px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo4 {
    width: 77.08px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo5 {
    width: 80px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo6 {
    width: 91.38px;
    height: 80px;
    border-radius: .75rem;
}




@media(max-width:320px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }


    .nav-heading {
        margin-right: 100px;
    }

    .nav-link {
        display: none;
    }

    .nav-heading1 {
        display: none;
    }

    .img {
        display: flex;
        padding-top: 1px;
        margin-right: 7px;

    }

    .img1 {
        width: 280px;
        height: 386px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 280px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 260px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 280px;
        height: 48px;
    }

    .main-div {
        overflow-x: scroll;
    }

}

@media(min-width:375px) and (max-width:424px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }

    .nav-heading {
        margin-right: 160px;
    }

    .nav-link {
        display: none;
    }

    .nav-heading1 {
        display: none;
    }

    .img {
        display: flex;
        padding-top: 1px;
        margin-right: 8px;
    }

    .img1 {
        width: 335px;
        height: 386px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 335px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 335px;
        height: 48px;
    }

}

@media(min-width:425px) and (max-width:767px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }

    .nav-heading {
        margin-right: 200px;
    }

    .nav-link {
        display: none;
    }

    .nav-heading1 {
        display: none;
    }

    .img {
        display: flex;
        padding-top: 1px;
        margin-right: 6px;
    }

    .img1 {
        width: 385px;
        height: 386px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 385px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 385px;
        height: 48px;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }

    .nav-heading {
        font-size: 18px;
        margin-left: 22px;
    }

    .nav-gap {
        gap: 35px;
    }


    .nav-container1 {
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
        gap: 1px;
    }

    .img1 {
        width: 400px;
        height: 384px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 410px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 680px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 128px;
        height: 48px;
        margin-left: 275px;
    }
}