* {
    margin: 0px;
}

.main-img-dot {
    position: absolute;
    right: 130px;
    top: 220px;
}

.main-img-dot1 {
    position: absolute;
    left: 0px;
    top: 120px;
}

.nav-container {
    height: 45px;
    width: 100%;
    background-color: #871E27;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-gap {
    display: flex;
    gap: 30px;
}

.nav-heading {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.nav-link {
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-left: 7px;
}

.nav-heading1 {
    color: white;
    margin-right: 10px;
}

.img {
    display: none;
}

.img1 {
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 60px;
    align-items: center;
}

.main-h1 {
    font-size: 22px;
    color: #9ca3af;
    font-weight: 300;
}

.main-h2 {
    font-size: 48px;
    color: #000000;
    font-weight: 300;
}

.main-p1 {
    width: 450px;
    font-size: 22px;
    color: #212121;
    line-height: 1.75rem;

}

.main-button {
    margin-top: 30px;
    width: 8rem;
    height: 48px;
    padding: 10px;
    border-radius: 4px;
    border: 0px #e5e7eb;
    background-color: #DFBA21;
    color: #1D1D1D;
}

.main-line {
    margin-top: 80px;
    border-bottom: 1px solid rgba(206, 195, 195, 0.541);
}

.main-div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.main-logo1 {
    width: 92.3px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo2 {
    width: 92.3px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo3 {
    width: 80px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo4 {
    width: 77.08px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo5 {
    width: 80px;
    height: 80px;
    border-radius: .75rem;
}

.main-logo6 {
    width: 91.38px;
    height: 80px;
    border-radius: .75rem;
}

.main-div1 {
    background-color: #fffdfd;
    margin-top: 50px;
    padding-bottom: 50px;
}

.main-h3 {
    padding-top: 50px;
    font-size: 42px;
    text-align: center;
}

.main-div-img {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap: 100px;
}

.main-p2 {
    font-size: 28px;
    color: #193e75;
    width: 150px;
    margin-top: 10px;
}

.main-p3 {
    font-size: 28px;
    color: #193e75;
    width: 150px;
    margin-top: 10px;
}

.main-p4 {
    font-size: 28px;
    color: #193e75;
    width: 150px;
    margin-top: 10px;
}

.main-h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 25px;
}

.main-div-img1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
    margin-bottom: 80px;
    flex-wrap: wrap;

}

.main-p5 {
    font-size: 29px;
    align-items: center;
}

.img12 {
    width: 94px;
    height: 95px;
}

.img13 {
    width: 94px;
    height: 95px;
}

.img14 {
    width: 94px;
    height: 95px;
}

.img-div {
    align-items: center;
    text-align: center;
}

.img-div1 {
    align-items: center;
    text-align: center;
}

.red {
    background-color: #871E27;
    text-align: center;
    color: white;
}

.login-h {
    padding-top: 85px;
    font-size: 42px;
}

.login-p {
    font-size: 22px;
    padding-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    font-size: 18px;
}


.login-div {
    padding-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.login-name {
    text-align: left;
    margin-top: 25px;
}

.name {
    width: 320px;
    border-radius: 4px;
    border: none;
    height: 40px;
    padding-left: 10px;
}

.button {
    display: block;
    margin-top: 30px;
    background-color: #9ca3af;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    border: none;
    margin-bottom: 50px;
}

.button-p {
    font-size: 14px;
}

.textarea {
    width: 320px;
    height: 207.31px;
    border-radius: 4px;
    border: none;
}

.button1 {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #9ca3af;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    border: none;
    margin-bottom: 50px;
}

.footer {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 365px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.p0 {
    font-size: 19px;
}

.h0 {
    font-size: 17px;
}



@media (max-width:320px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }


    .nav-heading {
        margin-right: 100px;
    }

    .nav-link {
        display: none;
    }

    .nav-heading1 {
        display: none;
    }

    .img {
        display: flex;
        padding-top: 1px;
        margin-right: 7px;

    }

    .img1 {
        width: 280px;
        height: 386px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 280px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 260px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 280px;
        height: 48px;
    }

    .main-div {
        overflow-x: scroll;
        scrollbar-width: none;

    }

    .main-img-dot {
        display: none;
    }

    .main-img-dot1 {
        display: none;
    }

    .main-h3 {
        font-size: 32px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-div-img {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

    }


    .main-p2 {
        margin-left: auto;
        margin-right: auto;

    }

    .main-p3 {
        margin-left: auto;
        margin-right: auto;
    }

    .main-p4 {
        margin-left: auto;
        margin-right: auto;
    }

    .main-line {
        margin-top: 20px;
    }


    .main-div-img1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-p5 {
        text-align: center;
    }

    .container {
        flex-direction: column;
        gap: 0px;
        text-align: left;
        padding-left: 10px;
    }

    .login-div {
        flex-direction: column;
        padding-top: 0px;
    }

    .login-name {
        padding-left: 10px;
    }

    .co1 {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 4px;
    }

    .name {
        width: 288px;
        height: 40px;
    }

    .button {
        display: none;

    }

    .button1 {
        display: block;
        margin-left: 20px;
    }

    .textarea {
        width: 288px;
        height: 200px;
    }

    .footer {
        gap: 0px;
        width: 360px;
    }

    .p0 {
        width: 10px;
    }

    .h0 {
        width: 10px;

    }
}

@media(min-width:375px) and (max-width:424px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }

    .nav-heading {
        margin-right: 160px;
    }

    .nav-link {
        display: none;
    }

    .nav-heading1 {
        display: none;
    }

    .img {
        display: flex;
        padding-top: 1px;
        margin-right: 8px;
    }

    .img1 {
        width: 335px;
        height: 386px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }


    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 335px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 335px;
        height: 48px;
    }

    .main-div {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .main-img-dot {
        display: none;
    }

    .main-img-dot1 {
        display: none;
    }

    .main-h3 {
        font-size: 32px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;

    }

    .main-div-img {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .main-p2 {
        margin-left: auto;
        margin-right: auto;
    }

    .main-p3 {
        margin-left: auto;
        margin-right: auto;

    }

    .main-p4 {
        margin-left: auto;
        margin-right: auto;

    }

    .main-div-img1 {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .main-p5 {
        text-align: center;
    }

    .img12 {
        height: 120px;
        width: 120px;
    }

    .img13 {
        height: 120px;
        width: 120px;
    }

    .img14 {
        height: 120px;
        width: 120px;
    }

    .img15 {
        width: 325px;
        height: 345px;
    }

    .img16 {
        width: 325px;
        height: 345px;
    }

    .img17 {
        width: 325px;
        height: 345px;
    }

    .container {
        flex-direction: column;
        gap: 0px;
        text-align: left;
        padding-left: 40px;
    }

    .login-div {
        flex-direction: column;
        padding-top: 0px;
    }

    .login-name {
        padding-left: 40px;
    }

    .co1 {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 4px;
    }

    .name {
        width: 288px;
        height: 40px;
    }

    .button {
        display: none;

    }

    .button1 {
        display: block;
        margin-left: 50px;
    }

    .textarea {
        width: 288px;
        height: 200px;
    }

    .footer {
        gap: 0px;
        width: 375px;
    }

    .p0 {
        width: 10px;
    }

    .h0 {
        width: 10px;
        margin-left: 60px;

    }
}

@media(min-width:425px) and (max-width:767px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }

    .nav-heading {
        margin-right: 200px;
    }

    .nav-link {
        display: none;
    }

    .nav-heading1 {
        display: none;
    }

    .img {
        display: flex;
        padding-top: 1px;
        margin-right: 6px;
    }

    .img1 {
        width: 385px;
        height: 386px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }



    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 385px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 385px;
        height: 48px;
    }

    .main-div {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .main-img-dot {
        display: none;
    }

    .main-img-dot1 {
        display: none;
    }

    .main-h3 {
        font-size: 32px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;

    }

    .main-div-img {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .main-p2 {
        margin-left: auto;
        margin-right: auto;
    }

    .main-p3 {
        margin-left: auto;
        margin-right: auto;

    }

    .main-p4 {
        margin-left: auto;
        margin-right: auto;

    }

    .main-div-img1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-p5 {
        text-align: center;
    }

    .img12 {
        height: 120px;
        width: 120px;
    }

    .img13 {
        height: 120px;
        width: 120px;
    }

    .img14 {
        height: 120px;
        width: 120px;
    }

    .img15 {
        width: 325px;
        height: 345px;
    }

    .img16 {
        width: 325px;
        height: 345px;
    }

    .img17 {
        width: 325px;
        height: 345px;
    }

    .container {
        flex-direction: column;
        gap: 0px;
        text-align: left;
        padding-left: 60px;
    }

    .login-div {
        flex-direction: column;
        padding-top: 0px;
    }

    .login-name {
        padding-left: 60px;
    }

    .co1 {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 4px;
    }

    .name {
        width: 288px;
        height: 40px;
    }

    .button {
        display: none;

    }

    .button1 {
        display: block;
        margin-left: 70px;
    }

    .textarea {
        width: 288px;
        height: 200px;
    }

    .footer {
        gap: 0px;
        width: 360px;
    }

    .p0 {
        width: 10px;
    }

    .h0 {
        width: 10px;
        margin-left: 60px;

    }
}


@media(min-width:768px) and (max-width:1024px) {
    .nav-container {
        width: 100%;
        height: 45px;
    }

    .nav-heading {
        font-size: 18px;
        margin-left: 22px;
    }

    .nav-gap {
        gap: 35px;
    }


    .nav-container1 {
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
        gap: 1px;
    }

    .img1 {
        width: 400px;
        height: 384px;
    }

    .main-container {
        margin-top: 7px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .main-h1 {
        font-size: 13.1px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(156 163 175);
        width: 410px;
        margin-top: 10px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main-h2 {
        font-size: 32px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    .main-p1 {
        font-size: 14px;
        line-height: 1.25rem;
        width: 680px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 28px;
    }

    .main-button {
        width: 128px;
        height: 48px;
        margin-left: 275px;
    }

    .main-div {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .main-img-dot {
        display: none;
    }

    .main-img-dot1 {
        display: none;
    }

    .main-h3 {
        font-size: 32px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;

    }

    .main-div-img {
        display: flex;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-p2 {
        margin-left: auto;
        margin-right: auto;
    }

    .main-p3 {
        margin-left: auto;
        margin-right: auto;

    }

    .main-p4 {
        margin-left: auto;
        margin-right: auto;
    }

    .main-div-img1 {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-p5 {
        text-align: center;
    }

    .img-div1 {
        width: 260px;
        height: 207px;
    }

    .img15 {
        width: 325px;
        height: 345px;
    }

    .img16 {
        width: 325px;
        height: 345px;
    }

    .img17 {
        width: 325px;
        height: 345px;
    }

    .footer {
        gap: 60px;
    }
}